<!doctype html>
<html ng-app="angularApp">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script src="/javascripts/payments.js"></script>
  <script src="/javascripts/ui-bootstrap.js"></script>
  <script src="/javascripts/moment.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Overpass:100,200,300,400,600,700,800,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script>
    var employee_id = ('<%=data.id%>') ? '<%=data.id%>' : null
  </script>
</head>

<body ng-controller="createCntrl as $ctrl">

  <div style="float: left; background: blue; min-height: 100vh; position: fixed; width: 300px; background: #10559b">
    <ng-include src="'/nav.html'"></ng-include>
  </div>

  <br><br>

  <div class="container" style="float: left; padding-left: 350px;">

    <div class="row">
      <h1 style="font-weight: 100">Payments</h1>
      <br><br>
    </div>

    <style>
      label {
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: .25rem;
      }

      .form-control {
        font-weight: 200
      }

      .deny {
        color: red
      }

      .btn {
        font-size: 12px
      }

      .input-padding {
        padding-bottom: 4px
      }

      .checklist {
        list-style-type: none;
      }

      .checklist li {
        padding-bottom: 15px;
        font-size: 12pt
      }

      .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
      }

      .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
      }

      .modal-content {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
      }
    </style>

    <!-- START ________________ Template for Modal Popup _______________________ -------->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <div style="float: left; font-size: 18pt"class="modal-title" id="modal-title">Schedule a Payment</div>
          <div style="float: right;"><a style="color: #666" ng-click="$ctrl.cancel()"><i class="fas fa-times-circle"></i></a></div>
      </div>
         <div class="modal-body" id="modal-body">

           <div style="padding-bottom: 20px;">
           <label>Employee</label>
           <br>




          <select ng-model="formData.employee"
            ng-options="(item.first_name + ' ' + item.last_name) for item in employees track by item.wallet_address">
          </select>

            </div>

           <div class="input-group input-padding" >

               <label for="date_anchor">Start Date</label>
               <p class="input-group">

                 <input type="text"  id="date_anchor" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                 <span class="input-group-btn">
                   <a href="" style="border: none; margin-left: 5px; margin-top: 2px;" type="button" class="btn btn-default" ng-click="open1()"><i class="far fa-calendar-alt"></i></a>
                 </span>
               </p>
           </div>

           <div class="input-group input-padding" >

               <label for="date_anchor">End Date</label>
               <p class="input-group">

                 <input type="text" id="date_anchor" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.dt2" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" />
                 <span class="input-group-btn">
                   <a href="" style="border: none; margin-left: 5px; margin-top: 2px;" class="btn btn-default" ng-click="open2()"><i class="far fa-calendar-alt"></i></a>
                 </span>
               </p>

           </div>

          <label>Amount</label>
           <div class="input-group input-padding" >

               <input ng-model="formData.amount"  required type="text" class="form-control"  placeholder="Amount">
           </div>
           <br>
           <div>
                <button class="btn btn-primary" ng-click="schedulePayment(formData.employee,formData.dt2,3,formData.amount)"  type="submit" style="background: #12889d; border: none; font-size: 16px; font-weight: 300">Schedule Payment</button>
           </div>



         </div>

     </script>
    <!-- END ________________ Template for Modal Popup _______________________ -------->

    <div class="row">

      <div class="col-md-12" style="padding: 24px; background-color: #fff; box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);">

        <div style="width: 100%; text-align: right; margin-bottom: 10px"><a href="#" style="background: #10559b; color: white; padding: 8px" ng-click="fundAccount();">Fund Account</a></div>
        <br>
        <table class="table" style="with: 100%">
          <tr>
            <th>Wallet Address</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Amount</th>
          </tr>

          <tr ng-repeat="data in payments">
            <td class="td_left">{{data.employee}}</td>
            <td class="td_left">{{data.startTime | date : shortDate}}</td>
            <td class="td_left">{{data.endTime | date : shortDate }}</td>
            <td class="td_left">{{data.amount}}</td>

          </tr>
        </table>

        <div class="col-md-12" style="text-align: right">
          <a href=""><i style="font-size: 30pt; color: #12889d" ng-click="addPayment()" class="fas fa-plus-circle"></i></a>
        </div>

      </div>

    </div>
  </div>
  </div>

</body>

</html>
